In [205]:
import numpy as np
import pandas as pd
import glob
import os
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt
import seaborn as sns

In [206]:
l = [pd.read_csv(filename, header = 0,parse_dates=['Date']) for filename in glob.glob("/mnt/c/Users/umar_/Documents/Projects/Data/NBA/Through 15 games/*.csv")]
means = [ ]

for df in l:
    df['Year'] = df.Date.dt.year
    temp = df[df["G"] < 16]
    year = temp.Date.dt.year.unique()
    temp2 = temp[["PTS", "AST", "TRB", "STL", "BLK", "TOV", "Year"]].mean(axis=0)
    means.append(temp2)
    
meansdf = pd.DataFrame(means)
meansdf["Year"] = meansdf.Year.astype(int)
meansdf = meansdf.set_index('Year')
meansdf

            PTS       AST       TRB       STL       BLK       TOV
Year
2003  17.266667  6.333333  6.733333  1.266667  0.733333  3.466667
2004  25.533333  6.133333  7.466667  2.400000  1.133333  3.400000
2005  28.733333  4.733333  5.800000  1.600000  1.066667  3.066667
2006  27.533333  6.733333  6.800000  1.600000  0.933333  3.333333
2007  31.733333  8.466667  8.000000  2.066667  1.600000  3.400000
2008  27.866667  6.333333  7.200000  1.866667  0.933333  2.866667
2009  29.733333  8.000000  6.866667  1.466667  0.733333  3.800000
2010  23.600000  8.266667  5.333333  1.733333  0.533333  4.133333
2011  29.666667  7.266667  8.333333  2.066667  0.933333  3.800000
2012  24.733333  6.466667  8.866667  1.066667  0.866667  2.466667
2013  26.133333  6.666667  5.866667  1.066667  0.333333  3.600000
2014  24.866667  7.200000  5.800000  1.333333  0.666667  3.733333
2015  25.666667  6.800000  7.066667  1.400000  0.600000  3.200000
2016  23.533333  9.400000  8.066667  1.066667  0.466667  3.866667
2017  28.266667  8.733333  7.333333  1.266667  1.266667  4.533333
2018  27.642857  7.214286  7.928571  1.500000  0.857143  3.285714

In [215]:
fig = plt.figure()
ax1 = fig.add_subplot(111)
sns.catplot(meansdf.index,"PTS", data=meansdf, kind="bar", palette="muted",height=8.27, aspect=11.7/8.27)
fig.show()